services:
  landing-page:
    build:
      context: ./src/landing-page
      dockerfile: Dockerfile
    ports:
      - "3000:80"

  my-service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8080"

  # Platform services
  # These you often outsource to platforms

  # Ingress Service
  ingress:
    image: traefik:v3.6
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
